table{
    font-family        : Georgia, serif;
    border-collapse    : collapse;
    border-width       : 3.5px;
    border-style       :double;
    background-color   : black;
    color              :aqua;
}
th{
    font-weight        : 800;
    background-color   :#2695A6;
    color              : #ffffff;
}